<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
<properties resource="Mybatis/db.properties"></properties>
<!-- 配置实体类的别名 -->
<typeAliases>
    <typeAlias type="Mybatis.User" alias="_User"></typeAlias>
</typeAliases>
   <environments default="development">
       <environment id="development">
         <transactionManager type="JDBC"/>
         <dataSource type="POOLED">
            <property name="driver" value="${driver}"/>
             <property name="url" value="${url}"/>
              <property name="username" value="${user}"/>
               <property name="password" value="${password}"/>
         </dataSource>
       </environment>
   </environments>
   <mappers>
       <mapper resource="Mybatis/userMap.xml"/>
   </mappers>
</configuration>