<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- 在容器中配置bean（service、dao、daomain、action、数据源） 
    spring 框架加载的时候，spring会自动创建一个bean
    -->
 <bean id="hello" class="com.vic.SpringNetty.App"> 
   <property name="name">
   <value>Vic</value>
   </property>
   <property name="bye" ref="bye"/>
 </bean> 
   
 <bean name="bye" class="com.vic.SpringNetty.Bye">
    <property name="name">
    <value>Vic</value>
    </property>
 </bean>
</beans>