<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-autowire="byName"
       >
       <!--启动注解-->
       <context:annotation-config />
  <bean id="dog" class="com.vic.autowire.Dog">
  <property name="name" value="小黄"></property>
  <property name="age" value="2"></property>
  </bean>
  <bean id="master" class="com.vic.autowire.Master" autowire="byType">
  <property name="name" value="小明"></property>
  <!-- 传统方式<property name="dog" ref="dog"></property>  -->
  </bean>
</beans>