<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
   <bean name="student" class="com.vic.bean.Student"  scope="singleton">
   <property name="name" value="ABBY"></property>
   </bean>
   <bean name="department" class="com.vic.bean.CollectionBean">
   <property name="name" value="财务部"></property>
   <property name="empName">
        <list>
        <value>小明</value>
        <value>小刘</value>
        <value>小张</value>
        </list>
   </property>
   <property name="empList" >
        <list>
        <ref bean="listBean"></ref>
        <ref bean="listBean1"></ref>
        </list>
   </property>
   <property name="empMap">
        <map>
          <entry key="1" value-ref="listBean"></entry>
          <entry key="2" value-ref="listBean1"></entry>
        </map>
   </property>
   </bean>
   <bean name="listBean" class="com.vic.bean.ListBean">
   <property name="name" value="小明"></property>
   <property name="id" value="1"></property>
   </bean>
   <!--  -->
   <bean name="listBean1" class="com.vic.bean.ListBean">
   <property name="name" value="大明"></property>
   <property name="id" value="2"></property>
   </bean>
   
   <bean id="employee" class="com.vic.bean.Employee">
        <!-- 通过构造函数注入属性值 -->
        <constructor-arg index="0" type="java.lang.String" value="小明"></constructor-arg>
        <constructor-arg index="1" type="int" value="10"></constructor-arg>
   </bean>
</beans>